body{
    margin: 0;
   background-color: #aad87e;
}

.container-header >img{
    height: 90%;
    border-radius: 65px;
    padding: 10px;
    margin-right: 10px;
}
.container-header >h2{
    margin-top: 10px;
}
.container-text {
    margin-left: 20px;
}
header{
display: flex;
justify-content:space-between ;
align-items: center;
padding: 20px;
height: 100%;
width: 92%;
background-color: #6cab37
}

.proyects>img{
    height: 50px;
    background-color: #aad87e;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 50px;
}
.proyects{
    display: flex;
    align-items: center;
    
}
.proyects> h1{
    margin-left: 10px;
    font-size: 25px;
    color: #5b5a5d;
    margin-top: 70px;
}
.spacer {
  margin-left: 20px;
  margin-right: 20px;
  height: 12px; 
  width: 92%;
  background-color: #8ac655
  }
  .card {
    display: flex;
    border: 1px solid #5b5a5d;
    border-radius: 8px;
    background-color: #6cab37;
    height: auto;
    width: 80%;
    margin-left: 50px;
    margin-top: 10px;
  }
  
  .image-container {
    flex: 0 0 70%; /* Ancho de la imagen */
    max-width: 30%; /* Ancho máximo de la imagen */
    overflow: hidden;
  }
  
  .image-container img {
    margin-top: 18px;
    width: 120px;
    height: 80%;
    
  }
  
  .content {
    padding: 16px;
  }
  
  .content h2 {
    font-size: 20px;
    text-align: center;
  }
  
  .content p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .content a {
    display: grid;
    color: rgb(4, 4, 4);
    text-align: center; 
  }
  .content a:hover {
    color: #ffffff; /* Cambia el color del texto cuando el cursor está sobre el enlace */
  }
  .references >img{
    height: 50px;
    background-color: #aad87e;
    border-radius: 50px;
    margin-left: 20px;
}
.references{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.references> h1{
    margin-left: 10px;
    font-size: 25px;
    color: #5b5a5d;
}
.spacer {
    margin-left: 20px;
    margin-right: 20px;
    height: 12px; 
    width: 92%;
    background-color: #8ac655
  }
  .container-paintings{
    display: flex;
  }
  .cuadro {
    width: 100px; 
    height: 110px; 
    border: 1px solid #5b5a5d;
    margin: 6px; 
    margin-left: 26px;
    padding: 10px;
  }
  .experience >img{
    height: 50px;
    background-color: #aad87e;
    border-radius: 50px;
    margin-left: 20px;
}
.experience{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.experience> h1{
    margin-left: 10px;
    font-size: 25px;
    color: #5b5a5d;
}
.spacer {
    margin-left: 20px;
    margin-right: 20px;
    height: 12px; 
    width: 92%;
    background-color: #8ac655
  }
  .container {
      display: flex;
      flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas */
      justify-content: center; 
  }
  .section {
      margin: 20px;
  }
  .imagen {
    margin-top: 20px;
      width: 100px; 
      height: 100px; 
      border-radius: 50%; 
      margin-bottom: 10px; 
      /* object-fit: cover; */
  }
  .progress {
      width: 100px; 
      height: 20px; 
      background-color: #f0f0f0; 
      border-radius: 10px; 
      overflow: hidden; /* Oculta el exceso de progreso */
  }

  .bar {
      width: 0; /* Ancho inicial de la barra de progreso */
      height: 100%; /* Altura de la barra de progreso */
      background-color: #4caf50; 
  }

   @media screen and (min-width: 768px) and (max-width: 980px){
    .cuadro {
      width: 100px; 
      height: 110px; 
      border: 1px solid #5b5a5d;
      margin-top: 30px; 
      margin-left: 120px;
      padding: 10px;
      
    }
    .card {
      display: flex;
      border: 1px solid #5b5a5d;
      border-radius: 8px;
      background-color: #6cab37;
      height: auto;
      width: 80%;
      margin-left: 80px;
      margin-top: 10px;
    }
    header{
      display: flex;
      justify-content:space-between ;
      align-items: center;
      padding: 20px;
      height: 100%;
      width: 95%;
      background-color: #6cab37
      }
      .cuadro {
        width: 120px; 
        height: 110px; 
        border: 1px solid #5b5a5d;
        margin-top: 30px; 
        margin-left: 80px;
       
      }
      .spacer {
        margin-left: 20px;
        margin-right: 20px;
        height: 12px; 
        width: 94%;
        background-color: #8ac655
        }
        .section {
          margin: 90px;
          margin-top: 20px;
      }
   }
   @media screen and (min-width: 981px) and (max-width: 1010px) { 
   
    .cuadro {
     width: 100px; 
     height: 110px; 
     border: 1px solid #5b5a5d;
     margin-top: 30px; 
     margin-left: 120px;
     padding: 10px;
     
   }
   .card {
     display: flex;
     border: 1px solid #5b5a5d;
     border-radius: 8px;
     background-color: #6cab37;
     height: auto;
     width: 80%;
     margin-left: 105px;
     margin-top: 10px;
   }
   header{
     display: flex;
     justify-content:space-between ;
     align-items: center;
     padding: 20px;
     height: 100%;
     width: 95.8%;
     background-color: #6cab37
     }
     .cuadro {
       width: 120px; 
       height: 110px; 
       border: 1px solid #5b5a5d;
       margin-top: 30px; 
       margin-left: 130px;
       padding: 10px;
     }
     .spacer {
       margin-left: 20px;
       margin-right: 20px;
       height: 12px; 
       width: 96%;
       background-color: #8ac655
       }
       .section {
         margin: 90px;
         margin-top: 20px;
     }
    }
    @media screen and (min-width: 1011px) and (max-width: 1440px) { 
      header{
        display: flex;
        justify-content:space-between ;
        align-items: center;
        padding: 20px;
        height: 100%;
        width: 97%;
        background-color: #6cab37
        }
        .container-header >img{
    height: 90%;
    border-radius: 65px;
    padding: 30px;
    margin-left: 70px;
}
      .container-header >h2{
          margin-top: 10px;
      }
      .container-text {
          margin-left: 20px;
      }
      .cuadro {
       width: 100px; 
       height: 110px; 
       border: 1px solid #5b5a5d;
       margin-top: 30px; 
       margin-left: 120px;
       padding: 10px;
       
     }
     .card {
       display: flex;
       border: 1px solid #5b5a5d;
       border-radius: 8px;
       background-color: #6cab37;
       height: auto;
       width: 80%;
       margin-left: 105px;
       margin-top: 10px;
     }
    
       .cuadro {
         width: 120px; 
         height: 110px; 
         border: 1px solid #5b5a5d;
         margin-top: 30px; 
         margin-left: 130px;
         padding: 10px;
       }
       .spacer {
         margin-left: 20px;
         margin-right: 20px;
         height: 12px; 
         width: 96%;
         background-color: #8ac655
         }
         .section {
           margin: 90px;
           margin-top: 20px;
       }
      }
      @media screen and (min-width: 1441px) and (max-width: 1559px) { 
        header{
          display: flex;
          justify-content:space-between ;
          align-items: center;
          padding: 20px;
          height: 100%;
          width: 98%;
          background-color: #6cab37
          }
        .container-header >img{
          height: 90%;
          border-radius: 65px;
          padding: 30px;
          margin-left: 70px;
         }
        .container-text {
            margin-right: 30%;
            
        }
        .cuadro {
         width: 100px; 
         height: 110px; 
         border: 1px solid #5b5a5d;
         margin-top: 30px; 
         margin-left: 120px;
         padding: 10px;
         
       }
       .card {
         display: flex;
         border: 1px solid #5b5a5d;
         border-radius: 8px;
         background-color: #6cab37;
         height: auto;
         width: 80%;
         margin-left: 105px;
         margin-top: 10px;
       }
      
         .cuadro {
           width: 120px; 
           height: 110px; 
           border: 1px solid #5b5a5d;
           margin-top: 30px; 
           margin-left: 130px;
           padding: 10px;
         }
         .spacer {
           margin-left: 20px;
           margin-right: 20px;
           height: 12px; 
           width: 96%;
           background-color: #8ac655
           }
           .section {
             margin: 90px;
             margin-top: 20px;
         }
         .container-header >h2{
          margin-top: 10px;
          margin-left: 80px;
      }
      
      .card {
        display: flex;
        border: 1px solid #5b5a5d;
        border-radius: 8px;
        background-color: #6cab37;
        height: auto;
        width: 30%;
        margin-left: 50px;
        margin-top: 10px;
      
      }
      .container-card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 290px;
        padding-top: 40px;
      }
      .references{
        display: flex;
        align-items: center;
        margin-top: 38px;
    }
    .container-paintings{
      display: flex;
      margin-left: 260px;
    }
    .section {
      margin: 90px;
  }
      }